COMPILER_SERVICE/*.pyc
COMPILER_SERVICE/venv
COMPILER_SERVICE/.idea
COMPILER_SERVICE/**/*.pyc
COMPILER_DESKTOP/*.pyc
COMPILER_DESKTOP/venv
COMPILER_DESKTOP/.idea
COMPILER_DESKTOP/**/*.pyc
CONVERT_SERVICES/*pyc
CONVERT_SERVICES/venv
CONVERT_SERVICES/.idea
CONVERT_SERVICES/.gitignore
CONVERT_SERVICES/saved_files/
CONVERT_SERVICES/third_party/
MACHINE_LEARNING_SERVICE/.gitignore
MACHINE_LEARNING_SERVICE/.idea
MACHINE_LEARNING_SERVICE/venv
MACHINE_LEARNING_SERVICE/*pyc
REPORTING_SERVICE/.idea
REPORTING_SERVICE/.gitignore
REPORTING_SERVICE/venv
REPORTING_SERVICE/*pyc
PRACTICES/venv
__pycache__/
*.py[cod]
*$py.class
.idea
sql-data/
data/
postgres-data/